
@font-face {
    font-family: -apple-system;
}

@font-face {
    font-family: -apple-system;
}

:root {
  --background: #ffffff;
  --color: #000000;
}
  
/* What If */
.title {
    font-family: -apple-system;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}
.numdate {
    font-family: -apple-system;
    font-size: 60px;
    font-weight: 700;
}
.question {
    font-family: -apple-system;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
}
.questioner, .answer {
    font-family: -apple-system;
    font-size: 40px;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    :root {
      --background: #000000;
      --color: #ffffff;
    }
    
    body, img, .leftText, .rightText, .altText, .title, .question, .questioner, .answer {
        color: var(--color);
        background-color: var(--background);
    }

    .illustration {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		padding: 0.7em 0;
		--background: #ffffff;
  		--color: #000000;
	}
}
